<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IGBO M | MY IGBO</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body id="app">
  <div class="home"></div>
</body>
<script>
    document.body.addEventListener("click", function (evt) {
        window.location.href = '/next';
    });
</script>

</html>
