<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IGBO M | MY IGBO</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body id="app">
  <div class="progress-bar"></div>
  <div class="progress-bar progress" style="width: <%=progress %>"></div>
  <div class="star">✨</div>
  <div class="container">
    <h3>nice job!</h3>
    <h1><%= locals.totalScore %></h1>
    <a href="/next" class="restart-button">BEGIN AGAIN</a>
</div>

</body>

</html>
